.embed-container {
    position: relative;
    padding-bottom: 0%;
    height: 50;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}